.outerWrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 600px 1fr;
  width: 1000px;
  margin: 20px auto 0px;
  text-align: center;
  align-items: center;
}
.ryansList {
  color: rgb(0, 29, 231);
  margin: 0;
  font-size: 2em;
  border-right: 1px solid darkgray;
  border-left: 1px solid darkgray;
  background-color: lightgray;
}
.lasVegas {
  margin: 0;
  color: black;
  font-size: 1.3em;
  font-weight: 400;
  background-color: lightgray;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  padding: 6px;
}
.nearbyCl {
  color: blue;
  font-weight: bold;
  padding: none;
  margin: 0;
  border-right: 1px solid darkgray;
  border-left: 1px solid darkgray;
  background-color: lightgray;
  padding: 10px;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  width: 1000px;
  grid-template-columns: 1fr 600px 1fr;
  margin: auto;
  text-align: center;
}
.leftSidebar {
  border-right: 1px solid darkgray;
  border-left: 1px solid darkgray;
  background-color: lightgray;
}
.rightSidebar {
  border-right: 1px solid darkgray;
  border-left: 1px solid darkgray;
  background-color: lightgray;
}
.catsWrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
.catsHeader {
  text-align: center;
  margin: 0;
  background-color: lightgray;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  margin-top: 12px;
  padding: 5px;
  color: blue;
  font-weight: bold;
}
.catsHeader:hover {
  background-color: white;
  border: 1px solid darkgray;
  color: purple;
}
.catsLinks {
  text-decoration: none;
}
.catsSubCats {
  margin: 0;
  border-bottom: 1px solid lightgray;
  padding: 5px 0 3px 0;
  font-size: 0.75em;
  color: rgb(0, 29, 231);
}
.catsSubCats:hover {
  background-color: lightgray;
  border-bottom: 1px solid darkgray;
  color: purple;
}
.catsBox {
  text-align: left;
}
