.subCatsHeaderWrapper {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.subCatWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 1000px;
  margin: auto;
}
.subCatInfo {
  border-right: 1px solid darkgray;
}
.subCatTextInfo {
  color: blue;
  margin: 0;
  padding: 5px;
}
.subCatLinkInfo {
  text-decoration: none;
  cursor: pointer;
  display: flex;
}
.subCatLocationTime {
  margin: 0;
  padding: 11px;
  font-size: 0.75em;
}
.subCatForm {
  display: flex;
  flex-direction: column;
}
.subCatFormTitle {
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
  outline: none;
}
.subCatFormTitle:hover {
  background-color: lightgray;
}
.subCatFormTitle::placeholder {
  color: purple;
  font-style: italic;
}
.subCatLabels {
  color: blue;
  margin-bottom: 3px;
  margin-top: 12px;
}
.subCatFormTextarea {
  height: 60px;

  outline: none;
  cursor: pointer;
}
.subCatFormTextarea::placeholder {
  color: purple;
  font-style: italic;
}
.subCatFormTextarea:hover {
  background-color: lightgray;
}
.subCatFormSubmit {
  width: 60px;
  align-self: center;
  cursor: pointer;
  margin-top: 25px;
  background-color: lightgray;
  color: blue;
  border-radius: 3px;
}
.subCatHomepage {
  text-align: center;
  margin: 0;
  margin-top: 80px;
  margin-right: 20px;
}
.subCatLinkHomepage {
  text-decoration: none;
}
.subCatLinkHomepage:hover {
  color: blue;
  text-decoration: underline;
}
